body {
  background-color: rgb(14, 3, 39);
}

.navi {
  background-color: rgb(46, 20, 112);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: solid 3px rgb(14, 3, 39);
}

.button {
  background-color: rgb(46, 20, 112);
  border-radius: 10px;
}

.card {
  background-color: rgb(46, 20, 112);
  border: solid 2px rgb(150, 132, 196);
  margin-bottom: 1rem;
}

.txt {
  color: rgb(150, 132, 196);
}

#container {
  height: 300px;
  overflow-y: auto;
}
